{% extends 'home.html' %}
{% load static %}
{% block title %}My Projects{% endblock  %}
{% block content %}
   <svg class="svg-curve" viewBox="0 0 1440 79" xmlns="http://www.w3.org/2000/svg">
        <path d="M-100 79C-100 79 218.416 23.165 693.5 23.165C1168.58 23.165 1487 79 1487 79V0H-100V79Z"></path>
      </svg>


 <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                
      
                <div class="swiper-slide">
                  <img src="static/img/portfolio/portfolio-details-1.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/img/portfolio/portfolio-details-2.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/img/portfolio/portfolio-details-3.jpg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Website Developemnt</li>
                <li><strong>Project date</strong>: 01 March, 2020</li>
                <li><strong>Project URL</strong>: <a href="https://elaiyarani-s.github.io/MyPortfolio/">MyPortfolio</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>My Personal Portfolio</h2>
              <ul>
                <li>Developed a personal portfolio website using Javascript, HTML, CSS and Bootstrap 5.</li>
                <li>The webpage uses dynamic cards that injects data from the javascript files in the experience and project sections</li>
                <li>Dark/light theme toggle</li>
                <li>Responsive across all screens</li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </section>

      
    <svg class="svg-curve" viewBox="0 0 1440 79" xmlns="http://www.w3.org/2000/svg">
      <path d="M-100 0C-100 0 218.416 55.835 693.5 55.835C1168.58 55.835 1487 0 1487 0V79H-100V0Z"></path>
    </svg>

{% endblock  %}